 <div class="contentContainer">
     
            <div class="postHeader">
                <div id="userIcon"></div>
                <div id="bananas">
                    <p id="username">{{username}}</p> <br>
                    <p id="datetime">{{date}}</p>
                    <div id="menuIcon"></div>
                </div>
            </div>
            <div class="imgCap">
                <img src="{{img}}"/>
                <p id="postTitle">{{postTitle}}</p>
                <p id="caption">{{cap}}</p>
            </div>
            <div class="postFooter">
                <div id="icons">
                    <img src="../public/stylesheets/images/like.png" id="btnLike">
                    <img src="../public/stylesheets/images/comment.png" id="btnComment">
                </div>
                <div id="apples">
                    <p id="numberOfLikes">{{numLikes}} Likes</p>
                </div>
            </div>
            <div id="comments">
                    <div id="userIconComment"></div>
                    <div id="kiwi">
                        <p id="usernameComment">baileybear</p>
                        <div id="comment">Super loooove this!</div>
                    </div>
            </div>
</div>